<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1><span class="badge" style="background-color: #04848c;">{{countryName}}</span></h1>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <item-count [label] = "label1" [count] = "count1"></item-count>
        <item-count [label] = "label2" [count] = "count2"></item-count> 
        <item-count [label] = "label3" [count] = "count3"></item-count>      
    </div>
    <chart [chartType]="chartType" [chartData] = "chartData"></chart>
    <div class='card-footer d-flex justify-content-center my-4'>
        <button class='btn btn-outline-secondary'
                style='width:80px'
                (click)='onBack()'>
          <i class='fa fa-chevron-left'></i> Back
        </button>
      </div>
</div>

